body{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-family:'Raleway', sans-serif;
	font-weight: bold;
	font-size: 24px;
	text-align: center;

}


header {
	font-weight: bold;
	padding: 200px 0px 0px 0px;
	/*font-family:'Raleway', sans-serif;*/

}

.titleText {
	height: 200px;
	width: 1000px;
	padding: 50px 0px 0px 0px;
}


.module {
  background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4)
    );
  width: 100%;
  height: 400px;
  position: relative;
/*  overflow: hidden;
*/  margin: 0px;
}
.module > header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
}
.module > header > h2 {
  margin: 0;
  color: white;
  text-shadow: 0 1px 0 black;
}

* {
  box-sizing: border-box;
}


.nav ul {
	list-style: none;
	background-color: white;
	text-align: center;
	padding: 0;
	margin: 0;
}

.nav li {
	font-family:'Raleway', sans-serif;
	font-size: 1.2em;
	line-height: 40px;
	height: 40px;
	border-bottom: 1px solid #888;
    display: inline-block;

}

.nav a {
	text-decoration: none;
	color: black;
	transition: .3s background-color;
}
.nav a:hover {
	background-color: white;
}

/*.a.active.nav {
	background-color: #fff;
	color:#444;
}*/

 @media screen and (min-width: 600px) {
 	.nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
  }

#main-header {
	font-size: 60px;
	
}



/*title*/
#header-name {
	font-size: 40px;
	color: #EB7D23;
	padding: 15px;
	margin: 8px 900px 15px 0px;

}

/*search*/
#search {
	float: right;
	padding: 5px;
	margin:10px 10px 0px 0px;
}


/* banner section*/
#main-image{
	float:left;
	width: 100%;
	height: 25%;

}


/*welcome text*/

#welcome {
	float: left;
	width: 70%;
	font-size: 12px;
	font-weight: bold;
	margin: 20px 0px 0px 0px;
}

#welcome > header {
	color:#EB7D23;
	font-size: 15px;
	font-weight: bold;
	margin:bottom;
}

#products {
	/*text-align: justify;*/
	/*position: relative;*/
	width: 300px;
	padding: 10px;
}

#products p {
	text-align: center;	
}

#products img {
	display: inline-block;
	width: 400px;
	height: 300px;
	/*float: left;*/

}

.photoSection {
	height: 300px;
	width: 1000px;

}

#shoes {
	float: left;
	vertical-align: middle;
} 

#tents {
	float: left;
	vertical-align: middle;
}

#food {
	float: left;
	vertical-align: middle;
}

#productText {
	padding: 125px 10px 0px 50px;
	/*vertical-align: center;*/
}

title {
	margin: left;
}

footer{
	width: 100%;
	background-color: gray;
	margin: 20px 0px 20px 0px;
	padding: 5px 0px 0px 0px;
	border-radius: 5px;
}
