body{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-family:'Raleway', sans-serif;
	font-weight: bold;


}


header {
	font-weight: bold;
	font-family:'Raleway', sans-serif;

}

.nav ul {
	list-style: none;
	background-color: white;
	text-align: center;
	padding: 0;
	margin: 0;
}

.nav li {
	font-family:'Raleway', sans-serif;
	font-size: 1.2em;
	line-height: 40px;
	height: 40px;
	border-bottom: 1px solid #888;
    display: inline-block;

}

.nav a {
	text-decoration: none;
	color: black;
	transition: .3s background-color;
}
.nav a:hover {
	background-color: #949596;
}

.a.active.nav {
	background-color: #fff;
	color:#444;
}

 @media screen and (min-width: 600px) {
 	.nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
  }

#main-header {
	font-size: 60px;
}



/*title*/
#header-name {
	font-size: 40px;
	color: #EB7D23;
	padding: 15px;
	margin: 8px 0px 15px 0px;

}

/*search*/
#search {
	float: right;
	padding: 5px;
	margin:10px 10px 0px 0px;
}


/* banner section*/
#main-image{
	float:left;
	width: 100%;
	height: 25%;

}


/*welcome text*/

#welcome {
	float: left;
	width: 70%;
	font-size: 12px;
	font-weight: bold;
	margin: 20px 0px 0px 0px;
}

#welcome > header {
	color:#EB7D23;
	font-size: 15px;
	font-weight: bold;
	margin:bottom;
}

#products {
	text-align: justify;
}

#products img {
	display: inline-block;
	width: 375px;
	height: 375px;

}

#products:after {
	content: '';
	display: inline-block;
	width: 100%;
	float: left;
}



p {
	float:right;
}

.secondp {
	float: left;
}

